absl-py==0.2.2
astor==0.7.1
attrs==18.1.0
Automat==0.7.0
bleach==1.5.0
Click==7.0
constantly==15.1.0
django-angular==2.0.3
Flask==1.0.2
gast==0.2.0
grpcio==1.13.0
html5lib==0.9999999
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.1.0
numpy==1.14.5
protobuf==3.6.0
queuelib==1.5.0
six==1.11.0
tensorboard==1.8.0
tensorflow==2.5.3
termcolor==1.1.0
Werkzeug==0.14.1
zope.interface==4.5.0
